.Wrapper {
    display: grid;
    grid-auto-columns: 1fr 12fr;
    grid-template-rows: 50px 4fr 25px;
    grid-template-areas:
"HeaderGrid HeaderGrid"
"NavGrid FlowGrid"
"FooterGrid FooterGrid";
    height: 100vh;
}

.Wrapper-App {
    background-color: #282c34;
    grid-area: FlowGrid;
    padding: 5px;

}

.noactivelink {
    color: white;
    text-decoration: none;
}
.activelink {
    color: gold;
    text-decoration: none;
}

.IncomingMessage
{
    text-align: left;
    border-color: aqua;
    background-color: darkgrey;
    border-radius: 10px;
    padding-left: 50px;
}

.OutcomingMessage
{
    text-align: left;
    padding-left: 10px;
}