.Wrapper {
    display: grid;
    grid-auto-columns: 2fr 16fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
"HeaderGrid HeaderGrid"
"NavGrid FlowGrid"
"FooterGrid FooterGrid";
}

.Wrapper-App {
    background-color: darkgrey;
    grid-area: FlowGrid;
    padding: 5px;
}
.noactive-link {
    color: white;
    text-decoration: none;
}
.active-link {
    color: gold;
    text-decoration: none;
}
