.Flowbar {

}

.Flowbar textarea {

    background-color: transparent;
    color: azure;
    border-radius: 10px;
    width: 300px;
}

.Flowbar button {

    border-radius: 10px;
margin-bottom: 10px;
}
